@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Home/Shop.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Home/Shop.js"></script>
}


<div id="homeShopContainer">
    <div class="categories">
        <div>
            <a href="/notepads" class="">@ViewBag.ResourceManager.GetString("notepadsCategory")</a>
        </div>
        <div>
            <a href="/pens" class="">@ViewBag.ResourceManager.GetString("pensCategory")</a>
        </div>
    </div>
    <div class="row">

    </div>
</div>