@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Home/Shop.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Home/Shop.js"></script>
}


<div id="homeShopContainer">
    <div class="categories-container">
        <div class="categories-left-item">
            <a href="~/shop/notepads" class="categories-item">@ViewBag.ResourceManager.GetString("notepadsCategory")</a>
        </div>
        <div>
            <a href="~/shop/pens" class="categories-item">@ViewBag.ResourceManager.GetString("pensCategory")</a>
        </div>
    </div>
</div>