
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/NotepadShop/NotepadShop/App_Data/NotepadShopDb_log.ldf
/NotepadShop/NotepadShop/App_Data/NotepadShopDb.mdf
/NotepadShop/NotepadShop/Content/logs
/NotepadShop/NotepadShop/Content/Item/Images
/NotepadShop/NotepadShop/Content/Item/Temp
