
@{
    ViewBag.Title = "AdminIndex";
}

<a href="/Admin/AddNewItem" class="waves-effect waves-light btn">Add new Item</a>


<div id="adminIndexContainer">
    <div class="categories">
        <div>
            <a href="Notepads" class="">@ViewBag.ResourceManager.GetString("notepadsCategory")</a>
        </div>
        <div>
            <a href="Notepads" class="">@ViewBag.ResourceManager.GetString("pensCategory")</a>
        </div>
    </div>
</div>

