
@{
    ViewBag.Title = "Orders";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Profile/Orders.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Profile/Profile.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Profile/Orders.js"></script>
}

<div id="profileOrdersContainer">
    <div class="link-list">
        <p class="user-info-header">My кабинет</p>
        <div><a href="~/profile/personal-info" class="link-list-item">Personal данные</a></div>
        <div><span class="link-list-item selected">My заказы</span></div>
    </div>
    <div class="orders-container" style="display: none" data-bind="foreach: orders, visible: orders().length > 0">
        <div class="order-container">
            <p data-bind="text: number"></p>
            <p data-bind="text: status"></p>
            <p data-bind="text: creatingDateTime"></p>
        </div>
    </div>

</div>


