
@{
    ViewBag.Title = "Orders";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Profile/Orders.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Profile/Profile.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Profile/Orders.js"></script>
}

<div id="profileOrdersContainer">

</div>


