/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}*/

html {
    display: none;
    overflow: overlay;
}

body {
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    *::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: linear-gradient(to bottom, #b898f9 0%, #bca6cc 100%);
    }

    *::-webkit-scrollbar {
        width: 7px;
        background-color: white;
    }

img {
    vertical-align: middle;
}

.row, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.ns-btn {
    border-radius: 15px;
    padding: 3px 10px;
    background-color: #b898f9;
    cursor: pointer;
    background: linear-gradient(to right, #b898f9 0%, #fceeb5 50%, #ee786e 100%);
    background: -webkit-linear-gradient(to right, #b898f9 0%, #fceeb5 50%, #ee786e 100%);
    background: -moz-linear-gradient(to right, #b898f9 0%, #fceeb5 50%, #ee786e 100%);
    background: -o-linear-gradient(to right, #b898f9 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-position: 0% 50%;
    transition: background-position linear 1s;
    -webkit-transition: background-position linear 1s;
    -moz-transition: background-position linear 1s;
    -o-transition: background-position linear 1s;
}

    .ns-btn:hover {
        background-position: 100%;
    }

.small-preloader-holder {
    height: 54px;
    width: 54px;
    margin: 14px auto 0 auto;
}

.input-field {
    margin-top: 5px;
}

    /*.input-field label {
        left: 0;
        top: 1rem;
    }

        .input-field label.active {
            -webkit-transform: translateY(-80%);
            -ms-transform: translateY(-80%);
            -moz-transform: translateY(-80%);
            -o-transform: translateY(-80%);
            transform: translateY(-80%);
        }

    .input-field input {
        margin: 15px 0 0 0;
        height: 1.5rem;
    }

        .input-field input[type=email]:focus, .input-field input[type=password]:focus, .input-field input[type=text]:focus {
            border-bottom: 1px solid #2196F3;
            box-shadow: 0 1px 0 0 #2196F3;
        }

            .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=text]:focus + label {
                color: #2196F3;
            }

.input-field input[type=password]:invalid ~ .password-validation-msg, .input-field input[type=email]:invalid ~ .email-validation-msg {
    display: unset;
}

.input-field input[type=password]:focus ~ .password-validation-msg, .input-field input[type=email]:focus ~ .email-validation-msg {
    display: none;
}*/

.disabled-pointer-events {
    pointer-events: none;
}

/*--------------------------categories-----------------*/
.categories-container {
    display: flex;
    Justify-content: center;
    font-size: 1.2rem;
}

    .categories-container .categories-left-item {
        margin-right: 25px;
    }

.categories-item {
    border-radius: 15px;
    padding: 3px 10px;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: background-color linear 1s;
    -o-transition: background-color linear 1s;
}

    .categories-item:hover, .categories-item.selected-category {
        background-color: #b898f9;
        transition: all linear 0.3s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }

.background-main-color {
    background-color: #b898f9;
}
