.loader-image-container input {
    display: none;
}

.loader-image-style {
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.loader-image {
    display:none;
    max-height: 200px;
    max-width: 400px;
}

.loader-image-replacement {
    height: 200px;
    width: 200px;
    background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQoU42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+Cgg4zkoRAAAAAElFTkSuQmCC ) repeat;
}

.loader-image-container {
    display: inline-block;
    position: relative;
    margin: 10px;
}

.loader-btn-contaner {
    cursor: pointer;
    z-index: 1;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #989595;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    position: absolute;
    top: -10px;
    right: -10px;
}

    .loader-btn-contaner:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

.loader-btn {
    font-size: 28px;
    position: absolute;
    left: 2px;
    top: 1px;
}

.image-size-container {
    text-align:center;
    display: none;
}